<mat-toolbar color="primary">

    <a [routerLink]="'/'" 
        mat-icon-button 
        class="example-icon" 
        arial-label="Example icon-button with menu icon">
    <mat-icon>menu_books</mat-icon>     
    </a>

    <span>Bienvenidos</span>
    <span class="example-spacer"></span>

    <a [routerLink]="'/login'" 
    class = "none example-icon favorite-icon" 
    aria-label = "Example icon-button with heart icon"
    >
     Inciar sesión
 </a>
  <a [routerLink]="'/signup'" 
    class = "none example-icon favorite-icon mr20 ml70" 
    aria-label = "Example icon-button with heart icon"
    >
     Registrar
 </a>
   
</mat-toolbar>